.#{$prefix}-lg {
  width: 64px;
  height: 64px;
}

.#{$prefix}-md {
  width: 48px;
  height: 48px;
}

.#{$prefix}-sm {
  width: 24px;
  height: 24px;
}

.#{$prefix}-xs {
  width: 16px;
  height: 16px;
}
